In [10]:
#### K-neighbours clustering for Breast Cancer Data

In [23]:
from sklearn import neighbors, cross_validation
import pandas as pd
import numpy as np

C:\Users\Aayush\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [12]:
#Importing data file
df = pd.read_csv('D:/breast-cancer-wisconsin.txt')

In [14]:
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adh,single_epith,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [15]:
#Removing Nulls denoted as ? in this dataset
df.replace('?',-99999, inplace= True)

In [16]:
df.isnull().sum()

id                 0
clump_thickness    0
unif_cell_size     0
unif_cell_shape    0
marg_adh           0
single_epith       0
bare_nuclei        0
bland_chrom        0
norm_nucleoli      0
mitoses            0
class              0
dtype: int64

In [17]:
df.drop(['id'],1, inplace = True)
df.head()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adh,single_epith,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [20]:
x = np.array(df.drop(['class'],1))

In [21]:
y = np.array(df['class'])

In [24]:
x_train, x_test, y_train, y_test = cross_validation.train_test_split(x, y, test_size = 0.2)

In [26]:
clf = neighbors.KNeighborsClassifier()

In [27]:
clf.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [28]:
accuracy = clf.score(x_test, y_test)

In [29]:
print(accuracy)

0.971428571429